@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #416795, #101828);
  background-size: 600% 600%; /* Ensure the gradient can move */
  animation: gradientAnimation 8s ease-in-out infinite; 
  color: white; /* Ensures text remains readable */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar {
  background-color: #2C3E50;
  color: #fff;
}

/* Keyframes for typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 80%; 
  }
}

/* Keyframes for deleting effect */
@keyframes deleting {
  0% {
    width: 100%;
  }
  100% {
    width: 0; 
  }
}

/* Keyframes for blinking cursor effect */
@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}

/* Hero title animation with the cursor */
.hero-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white; 
  animation: typing 4s steps(20, end) forwards, deleting 4s steps(20, end) infinite alternate, blink 0.7s infinite step-end; 
  width: 50%; 
  word-wrap:normal;
}

.hero-button {
  display: inline-block;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  body {
    background-size: 800% 800%;
    animation: gradientAnimation 8s ease-in-out infinite;
  }
}
